{%extends "base.html" %}

{% load staticfiles %}
{% block mainbody %}
	<section class = "container">
		<div>
			<h4>我的收藏</h4>
		</div>
        <hr>
	
    {% for collection in collections %}
        
        <div class="col-lg-3">
            <a href="{% url 'novel_detail' collection.novel.id %}" class="thumbnail">
                {% if collection.novel.img %}
                <img src="/static/uploads/{{ collection.novel.img.url }}" alt="">
                {% else %}
                <img src="{% static '/dish/default.jpg' %}" alt="">
                {% endif %}                    
            </a>
            <div class="caption text-center">
                <h4 class="text-center">{{ collection.novel.name }}</h4>
                <p class="text-center">{{ collection.novel.author }}</p>
                <p style="color:red">收藏于{{ collection.create_time }}</p>
                <p class="text-center">
                    <a href="{% url 'novel_detail' collection.novel.id %}" class="btn btn-primary">查看详情</a>
                </p>
            </div>
        </div>
    {% empty %}
        无收藏    
    {% endfor %}
    </section>
{% endblock %}