{%extends "base.html" %}

{% load staticfiles %}
{% block mainbody %}
	<section class = "container">
		<div>
			<h4>{{ type.type_name }}类下的小说</h4>
		</div>
        <hr>
	
    {% for new_novel in novelLists %}
        
        <div class="col-lg-3">
            <a href="{% url 'novel_detail' new_novel.id %}" class="thumbnail">
                {% if new_novel.img %}
                <img src="/static/uploads/{{ new_novel.img.url }}" alt="">
                {% else %}
                <img src="{% static '/dish/default.jpg' %}" alt="">
                {% endif %}                    
            </a>
            <div class="caption text-center">
                <h4 class="text-center">{{ new_novel.name }}</h4>
                <p class="text-center">{{ new_novel.author }}</p>
                <p style="color:red">{{ new_novel.update_time }}</p>
                <p class="text-center">
                    <a href="{% url 'novel_detail' new_novel.id %}" class="btn btn-primary">查看详情</a>
                </p>
            </div>
        </div>
    {% empty %}
        无小说      
    {% endfor %}
    </section>
{% endblock %}